<div class="pure-u-1">
  <div>
    <h2 class="text-center">Ember radio</h2>

    <form class="text-center pure-form pure-form-aligned">
      {{input value=radio_url placeholder="Copy radio URL..."}}
      <button class="pure-button">Create</button>
    </form>

    <button class="pure-button">Play</button>
  </div>
</div>
